{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ title|default:"Authentification" }} - KefyStore{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="auth-container">
                    {% block auth_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/auth.js' %}"></script>
{% block auth_js %}
{% endblock %}
{% endblock %}